*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root{
    --colorBg:#1d1c1c;
    --colorFg:#FFF9F9;
    --colorMg:#868484;
    --ctaColor:#7BA0FF;
}
body{
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorBg);
    margin: 0;
    padding: 0;
    gap: 30px;
}
html{
    margin: 0;
    padding: 0;
}
.flashCardContainer{
    width: 90vw;
    height: calc(80vw *0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arr{
    background-color: var(--colorFg);
    width: 64px;
    height: 64px;
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    transition: all ease 0.3s;
}
.arr:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.arrLeft{
    mask-image: url(chevron-left-svgrepo-com\(1\).svg);
}
.arrRight{
    mask-image: url(chevron-right-svgrepo-com\(1\).svg);
}
.flashCard{
    width: 80vw;
    height: calc(80vw *0.6);
    background-color: var(--colorFg);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    transition: all ease 0.3s;
    text-align: center;
    padding: 5px;
}
.flashCard:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.backBTN{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 24px;
    color: #FFF9F9;
    text-decoration: none;
    display: block;
}
.backBTN:hover{
    cursor: pointer;
}
.progressHolder{
    width: 100vw;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.progressBar{
    width: 80vw;
    height: 32px;
    border-radius: 8px;
    border: solid 4px var(--colorFg);
    background-color: var(--colorFg);
}
.pogressFillin{
    width: 25%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--colorBg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all ease 0.3s;
}
.progText{
    color: var(--colorFg);
    font-size: 24px;
    height: fit-content;
    margin-right: 5px;
}

@media (max-width: 900px) {
    .flashCard{
        font-size: 16px;
    }
}
@media (max-width: 650px) {
    .flashCard{
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .flashCard{
        font-size: 10px;
    }
}