:root{
    --colorBg:#1d1c1c;
    --colorFg:#FFF9F9;
    --colorMg:#868484;
    --ctaColor:#7BA0FF;
}
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorBg);
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
.mainContent{
    margin-top: 200px;
    height: fit-content;
}
.title{
    width: 600px;
    border-bottom: 3px var(--colorFg) solid;
    font-size: 48px;
    color: var(--colorFg);
    height: fit-content;
    display: block;
    text-align: center;
}
.optionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 600px;
}
.optionBTN{
    width: 250px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--colorFg);
    color: var(--colorBg);
    border-radius: 15px;
    font-size: 32px;
    transition: all ease 0.3s;
}
.optionBTN:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
.backBTN{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 24px;
    color: #FFF9F9;
    text-decoration: none;
    display: block;
}
.backBTN:hover{
    cursor: pointer;
}
@media (max-width:600px) {
    .title{
        width: 400px;
    }
    .optionBTN{
        width: 150px;
        font-size: 24px;
    }
}