:root{
    --colorBg:#1d1c1c;
    --colorFg:#FFF9F9;
    --colorMg:#868484;
    --ctaColor:#7BA0FF;
}

.setBTN:hover{
    border-bottom: solid 1px var(--colorMg);
    cursor: auto;
}
.toggledOn{
    background-color: var(--colorFg);
}